@{
}

@model List<Book>

<h1>Hello</h1>

@foreach (Book x in Model)
            {
                <h3>@x.Title</h3>
                <ul>
                    <li>Author: @x.Author</li>
                    <li>Publisher: @x.Publisher</li>
                    <li>ISBN: @x.Isbn</li>
                    <li>Classification: @x.Classification</li>
                    <li>Category: @x.Category</li>
                    <li>PageCount: @x.PageCount</li>
                    <li>Price: $@x.Price</li>
                </ul>
                <br />
            }
